<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
{% load static %}
{% include 'navbar.html' %}
<div class="container text-center">
    <h1>Your order is preparing!</h1>
    <h1>Thanks!</h1>
</div>
{% include 'footer.html' %}

</body>
</html>