<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>

{% load static %}
{% include 'navbar.html' %}


<div class="container">


    <div class="row mt-5 align-items-center">
        <div class="col-4 m-3 bg-black" style="height: 2px"></div>
        <div class="col text-center">
            <h1>ALL PRODUCTS</h1>
        </div>
        <div class="col-4 m-3 bg-black" style="height: 2px"></div>
    </div>

    <div>
        <div class="row m-auto ">
            {% for product in products%}

            <div class="col-3 text-center m-3" style="width:18rem; max-width: 18rem">
                <img src="/data/{{product.product_Image}}" class="card-img-top" style="height: 450px;width: auto; max-width:18rem">
                <div class="card-body">
                    <h5 class="card-title">{{product.product_name}}</h5>
                    <p class="card-text">{{product.product_price}}$</p>
                    <a href="{% url 'productDetails' product.id %}" class="btn btn-success">DETAILS</a>
                    {% if user.is_superuser %}
                        <a class="btn btn-secondary my-3" href="{% url 'editProduct' product.id %}">Edit</a>
                        <a class="btn btn-danger my-3" href="{% url 'deleteProduct' product.id %}">Delete</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% if user.is_superuser %}
    <a class="btn btn-success my-3" href="../addNewProduct">Add New Product</a>
    {% endif %}


</div>
{% include 'footer.html' %}
</body>
</html>